# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
rids4
thindr0
thindr0_sew
tmp
tmp.cpp
Saccaromyces_cerevisiae.gfd.4.1
Saccaromyces_cerevisiae.gfd.4.1.0
Saccaromyces_cerevisiae.gfd.8.1
matches
Bos_taurus.gfd.256.1.matches
thindr0_nolp
thindr0_nolp_mono
thindr0_mono
thindr0_mono
thindr0_mono_fc
thindr0_mono_ac
thindr0_mono_ac_ss
query_10_sub_0.egfd
rids4_0_DP
rids4_0_ED
rids4_AC_DP
rids4_AC_ED
graph.ged
