# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
rids4
thindr0
thindr0_sew
tmp
tmp.cpp
Saccaromyces_cerevisiae.gfd.4.1
Saccaromyces_cerevisiae.gfd.4.1.0
Saccaromyces_cerevisiae.gfd.8.1
matches
Bos_taurus.gfd.256.1.matches
thindr0_nolp
thindr0_nolp_mono
thindr0_mono
thindr0_mono
thindr0_mono_fc
thindr0_mono_ac
thindr0_mono_ac_ss
query_10_sub_0.egfd
rids4_0_DP
rids4_0_ED
rids4_AC_DP
rids4_AC_ED
graph.ged
rids4_0_DP_ind
rids4_AC_DP_ind
.gitignore
rids4_AC_ED_ind
rids4_dbg
rids4_0_ED_ind
aa
rids4_00_0_ED
rids4_00_0_DP
rids4_11_0_DP
rids4_11_0_DP_NRE
rids4_11_0_DP_RE3
rids4_11_0_DP_RE9
rids4_11_0_ED
rids4_11_AC_DP
rids4_11_FC_DP
thindr0_mono
rids4_11_NS_DP_NRE_100k
rids4_11_NS_DP_NRE
test_text.txt
rids4_FR_11_NS_DP_NRE
rids4_FR_11_NS_DP_NRE_100k
test_int.txt
rids4_FR_11_NS_DP_NRE_leafs
rids4_FR_11_NS_DP_NRE_leafs_100k
